$hederImage:url(../img/header_background_v1.jpg) no-repeat center/cover;
$hederTextColor:white;
$bgButton:#47d1d1;
$bgArticle: #ebebe0;
$font: normal 16px/26px serif;
$postDsColor:red;
$postHdColor:$bgButton;
$bgBody:$hederTextColor;
$postParColor:black;
$colorText:black;