$hederImage:url(../img/header_background_v2.jpg) no-repeat center/cover;
$hederTextColor:#ff751a;
$bgButton: #1a1aff;
$bgArticle: white;
$font:14px/24px sans-serif;
$postHdColor:#9999ff;
$bgBody:#ebebe0;
$postDsColor:$bgBody;
$postParColor:$postHdColor;
$colorText: #999999;